<%- include('layouts/main') %>


<h1 class="cursor-pointer text-center pt-3 h-20 bg-gradient-to-r from-blue-900 to-gray-900 uppercase hover:bg-yellow-300 text-5xl font-serif font-thin subpixel-antialiased text-zinc-300 hover:text-zink-300 decoration-wavy">Add New Course</h1>
<p><br><br></p>
<a class="btn text-white text-center bg-cyan-900 hover:bg-cyan-800" href="/">Show All Courses.</a>
<p><br><br></p>
<form action="/create" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Course_Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Duration</label>
        <input type="text" name="duration" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Fees</label>
        <input type="text" name="fees" class="form-control">
    </div>
    <p><br><br></p>
    <button type="submit" class="btn text-white bg-blue-900 hover:bg-yellow-900">Add new Course.</button>
</form>